<html>
 <body>
 	<div class="container">
 		<h2>Как мне узнать свою длину волос?</h2>
 	    <p> 
Как спланировать свои траты в салоне если я не знаю, какая длина моих волос? <br>
Усложняет ситуацию то, что в разных салонах дают разные определения длин волос. Часто даже в средине одного салона разные мастера путаются в этих вопросах. К счастью в нашем салоне красоты принята четкая система определения длины волос - Вы сами можете прикинуть, во сколько денег Вам обойдется покраска+стрижка+укладка!<br>

Итак, у нас принята следующая класификация: <br>
1 длина - волосы короткие, прическа мужского типа, неприкрытые уши.
2 длина - волосы длиной от 5 см до середины шеи.
3 длина - волосы длиной от середны шеи до плеч
4 длина - волосы от плеч до лопаток
5 длина - волосы длинные, ниже лопаток.

В сантиметрах:
10-15 см → 1 длина
15-25 см → 2 длина
25-35 см → 3 длина
35-40 см → 4 длина
45-55 см → 5 длина
55-60 см → 6 длина
60 см и ниже → 7 длина
 	    </p>
 	</div>



 </body>