<html>
 <body>
 	<div class="container">
 		<h3>Во сколько мне обойдется поход в BarberShop?</h3>
 	    <p class="min"> 
Зависит от многих факторов. Что именно вы хотите? Стрижку? Укладку? Простое или сложное окрашивание? К тому же, всё зависит от длинны волос, которую часто сложно определить самостоятельно. <br><br>

У нас принята следующая класификация: <br>

<p>
<img src="/images/kak-uznat-dlinu-volos-100.jpg" alt="Классификация длинны волос" class="col-4 float-left">
<ul class="min col-4">
<li>10-15 см → 1 длина - волосы короткие, прическа мужского типа, неприкрытые уши. </li>
<li>15-20 см → 2 длина - волосы длиной от 5 см до середины шеи.</li>
<li>20-30 см → 3 длина - волосы длиной от середны шеи до плеч</li>
<li>30-40 см → 4 длина - волосы от плеч до лопаток</li>
<li>40-50 см → 5 длина - волосы длинные, ниже лопаток.</li>
<li>50-60 см → 6 длина - особо длинные волосы</li>
</ul>
</p>
</div>


 </body>