<html>
 <body>
 	<div class="container">
 		<h3>Во сколько мне обойдется поход в BarberShop?</h3>
 	    <p > 
Зависит от многих факторов. Что именно вы хотите? Стрижку? Укладку? Простое или сложное окрашивание? К тому же, всё зависит от длинны волос, которую часто сложно определить самостоятельно. <br>

У нас принята следующая класификация: <br>

<p class="min">
<img src="/images/kak-uznat-dlinu-volos-100.jpg" alt="Классификация длинны волос" class="col-6 float-left">
<br>
<input type="radio" name="long" value="1long" required >10-15 см → 1 длина - волосы короткие, прическа мужского типа, неприкрытые уши. <br>
<input type="radio" name="long" value="2long" required >15-20 см → 2 длина - волосы длиной от 5 см до середины шеи.<br>
<input type="radio" name="long" value="3long" required >20-30 см → 3 длина - волосы длиной от середны шеи до плеч<br>
<input type="radio" name="long" value="4long" required >30-40 см → 4 длина - волосы от плеч до лопаток<br>
<input type="radio" name="long" value="5long" required >40-50 см → 5 длина - волосы длинные, ниже лопаток.<br>
<input type="radio" name="long" value="6long" required >50-60 см → 6 длина - особо длинные волосы<br>

</p>
</div>

<form action='/' method="POST">
<div>
  <div class="col-12">
    <input type="checkbox" name="vehicle1" value="Bike"> Стрижка
    <input type="checkbox" name="vehicle2" value="Car"> Укладка
    <input type="checkbox" name="vehicle1" value="Bike"> Простое окрашивание
    <input type="checkbox" name="vehicle1" value="Bike"> Сложное окрашивание
</div>
</div>

 </body>



   