
<html>
<head>
 <link  href="/css/bootstrap.css" rel="stylesheet" >
 <link  href="/css/mystyle.css" rel="stylesheet" >

</head>

<body>





<fieldset class="scheduler-border">
    <legend class="scheduler-border">Наши мастера</legend>
<div class="container marketing">
	<!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle img-responsive" src="/images/nika.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Ника</h2>
            <p>Училась там-то и там-то, получила стопиццот сертификатов. На фото - не она.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src="/images/osipov.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Осипов</h2>
            <p>Закончил Кембридж, открыл черные дыры. А потом забил на это всё и пошёл в парикмахеры</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          
          <div class="col-lg-4">
            <img class="rounded-circle" src="/images/tatiana.png" width="140" height="140">
            <h2>Татьяна</h2>
            <p>Просто няшная собака. Но стрижёт охуенно</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
	
</div>
 </fieldset>

</body>
</html>