
<html>
<head>
 <link  href="/css/bootstrap.css" rel="stylesheet" >
 <link  href="/css/mystyle.css" rel="stylesheet" >

</head>

<body>
 <h1>Hello!</h1>
 <p>Welcome to BarberShop</p>


<form action='/' method="POST">
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Start Time</legend
	<p>Введите ваше имя:</p>
	<input type="text" name="yourname" required/><br><br>

	<input type="radio" name="gender" value="male" required > Male<br>
  <input type="radio" name="gender" value="female" required> Female<br>
    
	<p>Выберите мастера:</p>
	<select name="master" required>
       <option value="Nika">Nika</option>
       <option value="Osipov">Osipov</option>
       <option value="Tatiana">Tatiana</option>
    </select>

	<p>Введите желаемую дату (после 2018-03-31)</p>
	<input type="date" name="day" min="2018-04-01" max="2019-01-01" required><br><br>
	
  <p>Дополнительные пожелания:</p>
	<textarea name="message" style="width:600px; height:100px">
  </textarea>

   <p>E-mail для связи:</p>
   <input type="email" name="email" required> <br><br>
   
   <input class="btn primary"  type="submit" />

 </fieldset>
</form>
</body>
</html>