<h1>Hello!</h1>
<p>Welcome to BarberShop</p>


<form action='/' method="POST">
	<p>Введите имя:</p>
	<input type="text" name="aaa" />
	<p>Введите пароль:</p>
	<input type="password" name="bbb"/>
	<input type="submit" />
</form>