<h1>Hello!</h1>
<p>Welcome to BarberShop</p>


<form action='/' method="POST">
 <fieldset>
	<p>Введите ваше имя:</p>
	<input type="text" name="yourname" /><br><br>

	<input type="radio" name="gender" value="male" > Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    
	<p>Выберите мастера:</p>
	<select name="master">
       <option value="nika">Nika</option>
       <option value="osipov">Osipov</option>
       <option value="tatiana">Tatiana</option>
    </select>

	<p>Введите желаемую дату (после 2018-03-31)</p>
	<input type="date" name="day" min="2018-04-01" max="2019-01-01"><br><br>
	
	<textarea name="message" style="width:600px; height:100px">
    Ваши пожелания
    </textarea>

   <p>E-mail для связи:</p>
   <input type="email" name="email"> <br>
   <input type="submit" />
 </fieldset>
</form>