
<!DOCTYPE html>
<html>

<head>
 <title>Barber Shop</title>
 <link  href="/css/bootstrap.css" rel="stylesheet" >
 <link  href="/css/mystyle.css" rel="stylesheet" v=001 >
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>

 <div class="sticky-top bg-info proz">
        <br>    
        <h1>Welcome to BarberShop</h1>
        <br>
 </div>

 <div>
 	<%= yield %>
 </div>



 <footer class="footer">
	<p>(c)iris-the-fox</p>
	<p>2018</p>
 </footer>

</body>

</html>

