
<!DOCTYPE html>
<html>

<head>
 <title>Barber Shop</title>
 <link  href="/css/bootstrap.css" rel="stylesheet" >
 <link  href="/css/mystyle.css" rel="stylesheet" v=001 >
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>

 <div class="sticky-top bg-info proz">
    <br>    
    <h1>Welcome to BarberShop</h1>
    <br>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link " href="/" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/contacts"> Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="ex" >Examples</a>
      </li>
     
    </ul>

  </div>
 </div>

 <div>
 	<%= yield %>
 </div>



 <footer class="footer">
	<p>(c)iris-the-fox</p>
	<p>2018</p>
 </footer>

</body>

</html>

