<h1>Welcome to BarberShop</h1>

<% if @gender == "male" %>
  <p>Уважаемый <%= @yourname %></p>
<% else %>
  <p>Уважаемая <%= @yourname %></p>
<% end %>

<p>Вы записаны к <%= @master %> на <%= @day %></p>
<p>Ваши пожелания будут учтены. В случае каких-либо изменений мы свяжемся с вами по указанному адресу</p>