body {
    background-color: lightblue;
    font-size: 20px
}

h1 {
    color: red;
    /* This is a single-line comment */
    text-align: center;
}

h2 {
    color: navy;
    /* This is a single-line comment */
    text-align: center;
}

fieldset.scheduler-border {
  border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend {
     width: auto !important;
    border: none;
    font-size: 50px;
}