body {
    background-image: url("/images/1.png");
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    background-color: #e4ebed;
}
.mynav {
    background-color: #e4ebed;
    border-radius: 0.25rem;
}
p 
{font-size: 16px;}

h1 { 
    text-align: center;
}

h2 {
    text-align: center;
}

fieldset.scheduler-border {
  border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
    margin: 25px;
}

legend {
     width: auto !important;
    border: none;
    font-size: 20px;
}

footer {
    background-color: grey;
    color: white;
    padding: 15px;
    text-align: center;
}

.proz {
    opacity: 0.65;
}